* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* font family */

@font-face {
  font-family: Regular;
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Medium;
  src: url("../src/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Light;
  src: url("../src/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: SemiBold;
  src: url("../src/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../src/assets/fonts/Poppins-ExtraBold.ttf");
}

/* colors */

:root {
  --white: #fff;
  --navbarBackgroundColor: #242424;
  --green: #008000;
}

*::-webkit-scrollbar {
  display: none;
}
